<!-- Main form container -->
<div class="container-form">
  <form #authForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- User input container -->
    <div class="container-textbox">
      <label class="label-top" for="user">Usuário</label>
      <input
        class="input-textbox"
        type="text"
        name="user"
        id="user"
        ngModel
        required
      >
    </div>
    <!-- Password input container -->
    <div class="container-textbox">
      <label class="label-top" for="password">Senha</label>
      <input
        class="input-textbox"
        type="password"
        name="password"
        id="password"
        ngModel
        required
        minlength="4"
      >
      <a
        class="recover-password"
        *ngIf="!isResettingPassword"
        routerLink="/"
        (click)="onForgotPassword()"
      >Esqueci minha senha</a>
    </div>
    <!-- Remember me checkbox and login button container -->
    <div class="container-button-checkbox">
      <div>
        <app-custom-checkbox label="Manter-me conectado" [default]="false" (checkedState)="getCheckedState($event)"></app-custom-checkbox>
      </div>
      <!-- <span>
        <input
        class="input-checkbox"
        type="checkbox" name="remember-me"
        id="rememeber-me"
        ngModel>
        <label class="label-checkbox" for="remember-me">Manter-me conectado</label>
      </span> -->
      <button
        type="submit"
        role="button"
        [disabled]="!authForm.valid"
      >Entrar</button>
    </div>
    <!-- Register button container -->
    <div class="container-register">
      <p class="register-text">Ainda não possui uma conta?
        <a
          routerLink="/auth/sign-up"
        >Cadastre-se</a>.
      </p>
    </div>
    <!-- ### -->
  </form>
</div>
<!-- Dynamic email PIN prompt -->
<app-email-pin-prompt
  class="email-pin-prompt"
  *ngIf="requestedPasswordReset"
  (cancel)="onRecoverCancel()"
></app-email-pin-prompt>
<!-- ### -->
