
.recover-password {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.register-text {
  position: relative;
  bottom: 60%;
}

.email-pin-prompt {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: -180px;
}
