<!-- Main form container -->
<div class="container-form">
  <!-- Dynamic email PIN prompt -->

  <!-- ### -->
  <form #recoverForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- New password component -->
    <app-new-password
      (passwordsOk)="getPasswordsOk($event)"
      (password)="getPassword($event)"
    ></app-new-password>
    <!-- Buttons container -->
    <div class="container-button-checkbox">
      <button
        type="button"
        role="button"
        (click)="onReturn()"
      >Voltar</button>
      <button
        type="submit"
        role="button"
        [disabled]="!recoverForm.valid || !passwordsOk"
      >Confirmar</button>
    </div>
    <!-- ### -->
  </form>
</div>
<!-- Success popup message -->
<app-popup-message
  class="popup-message-prompt"
  *ngIf="displaySuccessPrompt"
  [message]="'A senha foi alterada com sucesso.'"
  [buttonText]="'Continuar'"
  [path]="'auth/login'"
></app-popup-message>
