<!-- Backdrop -->
<div class="backdrop" (click)="onCancel()"></div>
<!-- Main form container -->
<div class="container-email-prompt">
  <form #emailForm="ngForm" (ngSubmit)="onSendEmail()">
    <!-- Email input and Send button -->
    <div class="container-email">
      <label class="label-top" for="email">Email</label>
      <input
        class="input-email"
        type="text"
        name="email"
        id="email"
        ngModel
        required
        email
      >
    </div>
    <div class="container-buttons">
      <span>
        <button
          type="submit"
          [disabled]="!emailForm.valid"
        >Send</button>
      </span>
    </div>
  </form>
  <form>
    <hr>
    <!-- PIN code input and buttons -->
    <div class="container-pin-code">
      <span>
        <input
          class="pin-code"
          type="password"
          name="pin1"
          id="pin1"
          ngModel
          required
          minlength="1"
          maxlength="1"
          (change)="onNextPin(2)"
        >
        <input
          class="pin-code"
          type="password"
          name="pin2"
          id="pin2"
          ngModel
          required
          minlength="1"
          maxlength="1"
          (change)="onNextPin(3)"
        >
        <input
          class="pin-code"
          type="password"
          name="pin3"
          id="pin3"
          ngModel
          required
          minlength="1"
          maxlength="1"
          (change)="onNextPin(4)"
        >
        <input
          class="pin-code"
          type="password"
          name="pin4"
          id="pin4"
          ngModel
          required
          minlength="1"
          maxlength="1"
        >
      </span>
      <div class="container-buttons">
        <span>
          <button type="submit"(click)="onOk()">OK</button>
          <button type="button" (click)="onCancel()">Cancel</button>
        </span>
      </div>
    </div>
    <!-- ### -->
  </form>
</div>
