<!-- Main form container -->
<div class="container-form">
  <!-- Dynamic email PIN prompt -->

  <!-- ### -->
  <form #authForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- New password input container -->
    <div class="container-textbox">
      <label class="label-top" for="new-password">Nova senha</label>
      <input
        class="input-textbox"
        type="password"
        name="new-password"
        id="new-password"
        ngModel
        required
        minlength="4"
      >
    </div>
    <!-- Confirm password input container -->
    <div class="container-textbox">
      <label class="label-top" for="confirm-password">Confirmar nova senha</label>
      <input
        class="input-textbox"
        type="password"
        name="confirm-password"
        id="confirm-password"
        ngModel
        required
        minlength="4"
        (blur)="onCheckPasswords()"
      >
    </div>
    <!-- Error message -->
    <p *ngIf="!okToProceed">{{ errorMessage }}</p>
    <!-- Remember me checkbox and confirm button container -->
    <div class="container-button-checkbox">
      <div></div>
      <button
        type="submit"
        role="button"
        [disabled]="!authForm.valid"
      >Confirmar</button>
    </div>
    <!-- ### -->
  </form>
</div>
<!-- Success popup message -->
<app-popup-message
  class="popup-message-prompt"
  *ngIf="displaySuccessPrompt"
  [message]="'A senha foi alterada com sucesso.'"
  [buttonText]="'Continuar'"
  [path]="'auth/login'"
></app-popup-message>
