.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.container-email-prompt {
  @extend .bordered-large;

  position: absolute;
  top: -5vh;
  width: 20vw;
  padding: 20px;
  z-index: 100;
  background: white;
}

.form {
  padding: 20px;
  margin: 20px 0px;
}

.label-top {
  position: absolute;
  background-color: white;
  padding: 0px 3px;
  bottom: 55%;
  left: 7.5%;
}

.container-email {
  margin-top: 10px;
  padding-top: 10px;

  position: relative;
  height: 30px;
}

.input-email {
  width: 90%;
}

.pin-code {
  width: 23px;
  margin: 0px 1px;
  text-align: center;
  font-size: larger;
}

.container-buttons {
  position: relative;
  margin: 20px 0px 0px;
}

.container-pin-code {
  position: relative;
  margin: 10px 0px;
}
hr {
  margin: 30px;
}

input {
  @extend .bordered-small;
  height: 23px;
}

button {
  @extend .bordered-small;

  height: 25px;
  width: 80px;
  margin: 0px 5px;

  &:hover {
    cursor: pointer;
    background-color: hsla(0, 0, 100, 0.5);
    box-shadow: 0 0 10px rgba(160, 110, 110, 0.5) inset;
  }
  &:active {
    background-color: rgba(160, 110, 110, 0.5);
    box-shadow: 0 0 0px #999 inset;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 0 0px #999 inset;
  }
}

input.ng-invalid.ng-touched {
  border: 2px solid rgb(150, 30, 30);
  box-shadow: 0 0 3px rgb(150, 30, 30) inset;
}

.bordered-large {
  @extend .shadowed;

  border-radius: 10px;
  border-width: 1px;
  border-color: #999;
  border-style: none;
}

.bordered-small {
  border-radius: 5px;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
}

.shadowed {
  box-shadow: 0px 0px 5px #666;
}
