
/* Original code credits go to https://www.w3schools.com/howto/howto_css_custom_checkbox.asp. Thank you! The rest was me. */

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Customize the label (the container) */
.custom-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  text-indent: 35px;
  line-height: 25px;
  height: 25px;
  width: 375px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.custom-checkmark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 25px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}

/* On mouse-over, add background color */
.custom-checkbox:hover input ~ .custom-checkmark {
  background-color: gainsboro;
}

/* On mouse-hold, change background color */
.custom-checkbox:active input ~ .custom-checkmark {
  background-color: ghostwhite;
}

/* When the checkbox is checked, change background color */
.custom-checkbox input:checked ~ .custom-checkmark {
  background-color: darkred;
  border: 1px solid darkred;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .custom-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .custom-checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
