

.container {
  z-index: 100;
  position: absolute;
  width: 20vw;
  height: 120px;
  min-width: 500px;
  padding: 10px;
  background: white;
}

.sub-container {
  padding: 10px;
}

.container-message {
  min-height: 40px;
}

.container-buttons {
  position: relative;
  margin: 20px 0px 0px;
}

button {
  margin: 0px 10px;
}
