<!-- Main form container -->
<div class="container-form">
  <!-- Dynamic email PIN prompt -->

  <!-- ### -->
  <form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- User input container -->
    <div class="container-textbox">
      <label class="label-top" for="login">Usuário</label>
      <input
        class="input-textbox"
        type="text"
        name="login"
        id="login"
        ngModel
        required
        minlength="3"
      >
    </div>
    <!-- New password component -->
    <app-new-password
      (passwordsOk)="getPasswordsOk($event)"
      (password)="getPassword($event)"
    ></app-new-password>
    <!-- Remember me checkbox and confirm button container -->
    <div class="container-button-checkbox">
      <button
        type="button"
        role="button"
        (click)="onReturn()"
      >Voltar</button>
      <button
        type="submit"
        role="button"
        [disabled]="
          !userForm.valid ||
          !passwordsOk
        "
      >Confirmar</button>
    </div>
    <!-- ### -->
  </form>
</div>
