<!-- Password requirements message -->
<p>Atenção: {{ passwordRequirements }}</p>
<!-- Password input container -->
<form #passwordForm="ngForm">
  <div class="container-textbox">
    <label class="label-top" for="new-password">Senha</label>
    <input
      class="input-textbox"
      type="password"
      name="new-password"
      id="new-password"
      ngModel
      #newPw="ngModel"
      required
      minlength="4"
      maxlength="20"
      pattern="{{ passwordPattern }}"
      title="{{ passwordRequirements }}"
      (blur)="onValidatePassword(passwordForm.value['new-password'])"
      >
    </div>
  <!-- Password confirm input container -->
  <div class="container-textbox">
    <label class="label-top" for="confirm-password">Confirmar senha</label>
    <input
      class="input-textbox"
      type="password"
      name="confirm-password"
      id="confirm-password"
      ngModel
      #confirmPw="ngModel"
      required
      minlength="4"
      maxlength="20"
      pattern="{{ passwordPattern }}"
      title="{{ passwordRequirements }}"
      (blur)="onValidatePassword(passwordForm.value['confirm-password'])"
      (blur)="onComparePasswords()"
    >
  </div>
</form>
<!-- Error messages -->
<p *ngIf="!passwordValid && newPw.touched">{{ errorInvalid }}</p>
<p *ngIf="!passwordsMatch && confirmPw.touched">{{ errorDoNotMatch }}</p>
